FusionServices/FusionSoapServiceSDK/Service References/FusionSoapService/FusionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://dougfusion.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dougfusion.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://dougfusion.com/Imports">
      <xsd:import schemaLocation="http://fusionsoapservice.cloudapp.net/FusionService.svc?xsd=xsd0" namespace="http://dougfusion.com" />
      <xsd:import schemaLocation="http://fusionsoapservice.cloudapp.net/FusionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFusionService_InsertUpdatePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUpdatePatient" />
  </wsdl:message>
  <wsdl:message name="IFusionService_InsertUpdatePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUpdatePatientResponse" />
  </wsdl:message>
  <wsdl:message name="IFusionService_InsertUpdatePatient_FusionServicesExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="tns:FusionServicesException" />
  </wsdl:message>
  <wsdl:message name="IFusionService_GetPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatient" />
  </wsdl:message>
  <wsdl:message name="IFusionService_GetPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientResponse" />
  </wsdl:message>
  <wsdl:message name="IFusionService_GetPatient_FusionServicesExceptionFault_FaultMessage">
    <wsdl:part name="detail" element="tns:FusionServicesException" />
  </wsdl:message>
  <wsdl:portType name="IFusionService">
    <wsdl:operation name="InsertUpdatePatient">
      <wsdl:input wsaw:Action="http://dougfusion.com/IFusionService/InsertUpdatePatient" message="tns:IFusionService_InsertUpdatePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://dougfusion.com/IFusionService/InsertUpdatePatientResponse" message="tns:IFusionService_InsertUpdatePatient_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dougfusion.com/IFusionService/InsertUpdatePatientFusionServicesExceptionFault" name="FusionServicesExceptionFault" message="tns:IFusionService_InsertUpdatePatient_FusionServicesExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatient">
      <wsdl:input wsaw:Action="http://dougfusion.com/IFusionService/GetPatient" message="tns:IFusionService_GetPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://dougfusion.com/IFusionService/GetPatientResponse" message="tns:IFusionService_GetPatient_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dougfusion.com/IFusionService/GetPatientFusionServicesExceptionFault" name="FusionServicesExceptionFault" message="tns:IFusionService_GetPatient_FusionServicesExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>